*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Aclonica;
    src: url(../fonts/Aclonica-Regular.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #2A95D0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxlogin{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 450px;
    background-color:#235390;
    border-radius: 30px;
}
.Login{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-family: Aclonica;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input{
    width: 250px;
    height: 30px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 2em;
    font-family: Aclonica;
}

input::placeholder {
    padding-left: 8em;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  
}